/* LightBox CSS */
#wrapper {
    width:600px;
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#fff;
    text-align:left; /*resets text alignment from body tag */
    border:1px solid #ccc;
    border-top:none;
    padding:25px;
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.4);
    text-align:center;
}
#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}


