/* Nuxeo Release notes special CSS */

@media all {

#mainContainer {
 border-bottom: 3px solid #D3E0EB;
}

#site-title {
  margin-top:2em;
  line-height: 50px;
    margin-bottom: 14px;
  font-size: 28px;  
}

p#site-title {
  padding:0;
}

#site-title img {
  vertical-align: middle;
}

#site-title a {
  color:black;
}

#site-title a:hover {
  text-decoration: none;
  color:#3670b9;
}

p.backbutton {
  margin:0;
  padding:0;
}

p.backbutton a {
  margin-top:10px;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eeeeee));
    background: -moz-linear-gradient(center top, #f7f7f7 0%, #eeeeee 100%);
    -webkit-box-shadow: 0 1px 1px 0 #dfdfdf, 0 2px 1px 0 #ffffff inset;
    -moz-box-shadow: 0 1px 1px 0 #dfdfdf, 0 2px 1px 0 #ffffff inset;
    box-shadow: 0 1px 1px 0 #dfdfdf, 0 2px 1px 0 #ffffff inset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 1px 0 #ffffff;
    padding: 7px 15px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    line-height: 13px;
    color: #969696;
    font-weight: 500;
    display:block;
    float:right;
    font-size: 80%;
}

p.backbutton a:hover {
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#efefef));
    background: -moz-linear-gradient(center top, #fbfbfb 0%, #efefef 100%);
    cursor: pointer;
      color:#3670b9;

}

p.backbutton a:active {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e9e9e9));
    background: -moz-linear-gradient(center top, #f2f2f2 0%, #e9e9e9 100%);
    color: #ff6825;
    -webkit-box-shadow: 0 1px 1px 0 #dfdfdf inset, 0 -1px 3px 0 #ffffff inset;
    -moz-box-shadow: 0 1px 1px 0 #dfdfdf inset, 0 -1px 3px 0 #ffffff inset;
    box-shadow: 0 1px 1px 0 #dfdfdf inset, 0 -1px 3px 0 #ffffff inset;
}

#welcome h1 {
    background-color: #3670B9;
    display: inline-block;
    margin: 1em 1em 1em -1em;
    padding: 0.3em 0.7em;
    margin-left:-2.5em;
    color:white;
    line-height: 34px;
}

#welcome h2, #welcome h3 {
  background-color: transparent;
  display:block;
  margin:0;
  padding: inherit;
  color:black;
  padding-left: 0;
  padding-bottom: 0;
}

#welcome h1, #welcome h2, #welcome h3 {
  clear:both;
}

#welcome h2 a, #welcome h2 a:visited {
  color:#3670b9;
}

#welcome h2 a:hover {
  cursor: default;
  color:#3670b9;
  text-decoration: none;
}

#welcome h3 {
 color:#454545;
 font-size:100%;
 padding-left: 0.5em;
}



#welcome p {
 padding:0.75em 0 1em 0;
 padding-left:1em;
}
/* #welcome h1:after, #welcome h2:after,#welcome h1:before, #welcome h2:before {
  clear: both;
  content: "-";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
} */

#welcome ul {
  list-style: disc outside;
  margin:1em 3em;
}

#welcome {
  padding: 0.5em 2em;
  padding-bottom: 1.5em;
}

hr {
  margin:1em 0;
}

sup {
  font-size: 80%;
  vertical-align: top;
  padding:0;
  margin-top:-4px;
  display:inline-block;
}

a:hover, a:focus {
  color: #3670B9;
}

.message {
  margin:-0.5em -2em;
  margin-bottom: 1em;
  padding:1em;
  background-color: rgba(227,235,243,0.5);
  line-height: 166%;
  border-top:3px solid #d3e0eb;
}

/* Index page */

.index {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.index h2 {
  line-height: 30px;
  }
  
.index .date {
  color:#757575;
  padding-right:0.5em;
}  

.index span a {
  background: url(../images/document.png) transparent top left no-repeat;
  padding-left:20px;
}

.message.index {
  padding:2em;
  background-color: #f9f5e2;
}

.message.index h2 {
  padding-right: 0 !important;
  padding-top: 0 !important;
}


.container {
  margin-bottom: 3em;
  width:50%;
  min-width: 540px;
}

ul#features {
  -moz-column-count:2;
-webkit-column-count:2;
-o-column-count:2;
column-count:2;
-moz-column-gap:20px;
-webkit-column-gap:20px;
-o-column-gap:20px;
column-gap:20px;
margin-bottom: 1em;
}

#features > li {
 list-style: none none inside;
 float:left;
 clear:both;
}

 #features > li {
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
}

#features > li > a {
 background-color:#0DA8CC;
 padding:0.35em 0.75em;
 border-radius: 0.75em;
 display:block;
 color:white;
}

#features > li > a:hover {
  color:white;
   background-color:#3670b9;

}

#welcome ul.second-label {
  margin-right:1em;
  margin-bottom: 2em;
  list-style-position: outside;
}

/*
p.backbutton a {
  margin-top:10px;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eeeeee));
    background: -moz-linear-gradient(center top, #f7f7f7 0%, #eeeeee 100%);
    -webkit-box-shadow: 0 1px 1px 0 #dfdfdf, 0 2px 1px 0 #ffffff inset;
    -moz-box-shadow: 0 1px 1px 0 #dfdfdf, 0 2px 1px 0 #ffffff inset;
    box-shadow: 0 1px 1px 0 #dfdfdf, 0 2px 1px 0 #ffffff inset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 7px 15px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    line-height: 13px;
    color: #969696;
    font-weight: 500;
    display:block;
    float:right;
    font-size: 80%;
}
*/


.wistia_embed  {
  margin:0.5em 0 1em 0;
  border-bottom:3px solid #d3e0eb;
}

img{
  max-width:500px;
}

table {
 border-collapse: collapse;
}

table {
 border-collapse: collapse;
}

th,td {
  padding: 5px 10px;
  border: 1px solid #666;
}

th {
  font-weight: bold;
}

#floatMenu {  
    position:absolute;  
    top:22px;  
    left:10%;  
    width:15%;  
}  
#floatMenu ul {  
  margin-bottom:20px;  
}  

#floatMenu ul li {
  margin-bottom: 0;
}  

#floatMenu ul li a {  
    display:block;  
    border-bottom:1px solid rgb(132,174,203);  
    border-right:1px solid #E8EFF5;  
    text-decoration:none;   
    padding:4px 8px;  
    background-color: white;
    font-size: 12px;
}  

#floatMenu ul li:last-child a {  
  border-bottom: none;
}

#floatMenu ul li a:hover {  
    background-color:#E8EFF5; 
}  

table.release {
  table-layout: fixed;
  max-width: 99%;
}

table.release td.parameter {
  word-break: break-all;
}

blockquote {
  overflow:auto;
}

blockquote, blockquote p {
  font-size: 14px;
  line-height: 180%;
}

.embededCode {
  background-color: #E8EFF5;
  border: 1px dashed #3670B9;
  color: black;
  line-height: 1.1em;
  padding: 1em;
  font-family: Consolas,Courier,monospace;
  overflow-x:auto;
}

#site-title .version-number {
  display:inline-block;
  background: url(../images/empty-version-tag.png) transparent top left no-repeat;
  color:white;
  width:64px;
  height:46px;
  font-size:15px;
  line-height: 39px;
  text-align: center;
  font-weight: bold;
  font-size:22px;
}

}


@media handheld, screen and (max-width:1020px)  {



#site-title, .container {
  margin:0;
  width:100%;
}

.container {
  min-width: 1% !important;
}  

p#site-title {
  padding:0 25px;
}

#mainContainer {
 width: 100%;
 overflow:hidden;
}

#floatMenu, #xnav, #xnav-footer, .xnav-set {
  display: none !important;
  max-width: 99%;
}

p.backbutton a {
  margin-right: 20px;
}

#welcome img {
 max-width: 99%;
 margin:auto;
 display:block;
 height:auto;
}



}
