/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color:#00b0ff;
}

.material-tooltip {
    max-width: 20em;}

.collapsible-header {
    position:relative;
    line-height:2rem;
}
.marge {
margin-left: 5em;
}
.marge9 {
margin-left: 9em;
}
.marge2 {
margin-left: 4em;
}

.tabs .tab a {
  color: #039be5;
}

.tabs .indicator {
    background-color: #039be5;
}

.btn, .btn-large {
    background-color: #039be5;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 13px;
    color: #039be5;

}
